<!DOCTYPE html>
<html>
  <head>
    <title>FlowLab</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag asset_path('app.css', 'css'), media: 'all' %>
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>

    <%= javascript_include_tag asset_path('app.vendor.js', 'js') %>
    <%= javascript_include_tag asset_path('app.js', 'js') %>

    <%= javascript_include_tag "application.js"%>
    
    <%# <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" %> %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"%>
  </body>
</html>
